[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/scrooloose/nerdtree.git
[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = http://github.com/wincent/Command-T.git
