[submodule "bundle/conque"]
	path = bundle/conque
	url = http://github.com/rson/vim-conque.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/ack-vim"]
	path = bundle/ack-vim
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/unimpaired"]
	path = bundle/unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule "bundle/autoclose"]
	path = bundle/autoclose
	url = https://github.com/Townk/vim-autoclose.git
[submodule "bundle/vim-pep8"]
	path = bundle/vim-pep8
	url = https://github.com/nvie/vim-pep8.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = https://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/speeddating"]
	path = bundle/speeddating
	url = https://github.com/tpope/vim-speeddating.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/a"]
	path = bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "bundle/zoomwin"]
	path = bundle/zoomwin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/vim-xabsl"]
	path = bundle/vim-xabsl
	url = git@github.com:sotte/vim-xabsl.git
[submodule "bundle/utl"]
	path = bundle/utl
	url = https://github.com/vim-scripts/utl.vim.git
[submodule "bundle/solarized-theme"]
	path = bundle/solarized-theme
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/rope-vim"]
	path = bundle/rope-vim
	url = https://github.com/klen/rope-vim.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/octave.vim--castro"]
	path = bundle/octave.vim--castro
	url = https://github.com/vim-scripts/octave.vim--Castro.git
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = https://github.com/vim-scripts/Gist.vim.git
[submodule "bundle/R-syntax-highlighting"]
	path = bundle/R-syntax-highlighting
	url = https://github.com/vim-scripts/R-syntax-highlighting.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "bundle/solarized_colorscheme"]
	path = bundle/solarized_colorscheme
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/latex-suite"]
	path = bundle/latex-suite
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/conceal-cute-python"]
	path = bundle/conceal-cute-python
	url = https://github.com/ehamberg/vim-cute-python.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/garbas/vim-snipmate.git
[submodule "bundle/tlib_vim"]
	path = bundle/tlib_vim
	url = https://github.com/tomtom/tlib_vim.git
[submodule "bundle/vim-addon-mw-utils"]
	path = bundle/vim-addon-mw-utils
	url = https://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "bundle/snipmate-snippets"]
	path = bundle/snipmate-snippets
	url = https://github.com/honza/snipmate-snippets.git
[submodule "bundle/threesome"]
	path = bundle/threesome
	url = https://github.com/sjl/threesome.vim.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/latex"]
	path = bundle/latex
	url = https://github.com/gerw/vim-latex-suite.git
[submodule "bundle/vimroom"]
	path = bundle/vimroom
	url = https://github.com/mikewest/vimroom.git
[submodule "bundle/doxygentoolkit"]
	path = bundle/doxygentoolkit
	url = https://github.com/vim-scripts/DoxygenToolkit.vim.git
[submodule "bundle/omnicppcomplete"]
	path = bundle/omnicppcomplete
	url = https://github.com/vim-scripts/OmniCppComplete.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-autocomplpop"]
	path = bundle/vim-autocomplpop
	url = https://github.com/toupeira/vim-autocomplpop.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
